@import "tailwindcss";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  font-family: "Pretendard-Regular", sans-serif !important;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  height: 80px;
  background: rgba(217, 217, 217, 1);
}
*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
